@model PaginationViewModel<SupplierViewModel>

@{
    ViewData["Title"] = "Suppliers";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />

<form asp-action="Index" asp-controller="SupplierController" method="get">
    <div class="form-row">
        <div class="form-group col-md-2">
            <select name="pageSize" id="pageSize" value="@TempData["Size"]" class="form-control">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="@int.MaxValue">All</option>
            </select>
        </div>
        <div class="form-group col-md-4"></div>

        <div class="form-group col-md-5">
            <input type="text" class="form-control" name="query" id="query" value="@TempData["Query"]" placeholder="Search for Name, Cpf, E-mail" />
        </div>
        <div class="form-group col-md-1">
            <button type="submit" class="btn-primary">Search</button>            
        </div>

        @if (User.Identity.Name.Contains("@admin.com"))
        {
            <div class="form-group col-md-1">
                <a asp-action="New" class="btn btn-primary">Add Supplier</a>
                <br />
                <br />
                <a asp-action="Report" class="btn btn-primary">Report</a>
                <br />
                <br />
            </div>
        }
        

    </div>

</form>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Fantasy Name</th>
            <th scope="col">CompanyName/Name</th>
            <th scope="col">Cnpj/Cpf</th>
            <th scope="col">Registration</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.List)
        {
            <tr>
                <th>@item.FantasyName</th>
                <td>@item.GetFullNameOrCompanyName()</td>
                <td>@item.GetCnpjOrCpf()</td>                
                <td>@item.InsertDate</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<vc:pagination model-pagination="@Model"></vc:pagination>