@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    <p>
        Find by name or director: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
        Select Genre: @Html.DropDownList("SelectedGenre", "All")
        <input type="submit" value="Filter" />

        @Html.ActionLink("Rating", "Index",
    new { sortOrder = ViewBag.RatingSortParm })
    </p>
}

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gross)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gross)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "label label-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "label label-info" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn btn-danger deleteBtn btn-xs glyphicon glyphicon-trash" })

            </td>
        </tr>
    }

</table>


<script type="text/javascript">
    $(document).ready(function () {
        $('#SearchString').autocomplete({
            source: '@Url.Action("MovieFilter")'
        });
    })
</script>
